#debugger{
border: #031 2px solid;
background-color: #eee;
position: fixed;
width: 100%;
height: 100%;
left: 0;
top: 0;
min-height: 100%;
overflow: hidden;
color: #333;
box-sizing: border-box;
z-index: 103;
}
.debugger_close{
position: fixed;
    font-size: 4rem;
    cursor: pointer;
right: 0; bottom: 0;
background: #083; color: #fff;
line-height: 2.2rem;
z-index: 102;
}
#debugger .contents{
    overflow: scroll;
  height: 99%;
  padding-bottom: 100px;
    -webkit-overflow-scrolling: touch;
}
#debugger .debugger_close{
    right: 0; bottom: 0;
}.clr{clear: both;}
body,html,pre,p,span,div{margin: 0;font-family:Avenir, sans-serif;font-weight: normal;}
#content{
	overflow: hidden;
}
ul.column-reverse,ul.row-reverse,ul.row,ul.column{
	list-style-type: none;
	margin: 0;
	padding: 0;
	display: flex;
	flex-direction: column;
}
ul {
	border: 1px solid #083;
	background: #3f6;
	color: #fff;

}
ul li{
	background: #083;
	border: 1px solid #031;
	flex: 1 1 1em;
}
ul li:nth-child(even){
	flex: 2 2 2em;
}
ul li:nth-child(3){
	flex: 3 3 3em;
}
ul li:nth-child(4){
	flex: 4 4 4em;
}
ul li:nth-child(5){
	flex: 5 5 5em;
}
ul li:nth-child(6){
	flex: 6 6 6em;
}
ul li:nth-child(7){
	flex: 7 7 7em;
}
ul.column-reverse{
	flex-direction: column-reverse;	
}
ul.row-reverse{
	flex-direction: row-reverse;	
}
ul.row{
	flex-direction: row;	
}
ul.column-reverse li,ul.row-reverse li,ul.row li,ul.column li{
	text-align: center;
	padding: 0 10px; margin: 5px 0 0 0;
}
ul.wrap-reverse
{
	flex-wrap: wrap-reverse;
}
ul.justify-end{
	justify-content: flex-end;
}
ul.align-end
{
	align-items: end;
}
ul.align-center
{
	justify-content: center;
	align-items: center;
}
ul.align-center
{
	justify-content: center;
	align-items: center;
}
ul.align-flex-start
{
	min-height: 50px;
	justify-content: center;
	align-items: flex-start;
}
ul.align-flex-end
{
	min-height: 50px;
	justify-content: center;
	align-items: flex-end;
}
ul.align-stretch
{
	justify-content: center;
	align-items: stretch;
}
ul.align-center
{
	justify-content: center;
	align-items: center;
}
ul.align-space-between
{
	justify-content: space-between;
	align-items: center;
}
ul.align-space-around
{
	justify-content: space-around;
	align-items: center;
}
ul.align-space-evenly
{
	justify-content: space-evenly;
	align-items: center;
}
li.order1
{order: 1; background: #c90;}
li.order2
{order: 2; background: #4fe;}
li.order3
{order: 3; background: #933;}
.basis33{
	flex-basis: 33%;
}
.basis20{
	flex-basis: 20%;
}
.basis80{
	flex-basis: 80%;
}
.flex20{ 
/* flex: stretch shrink flex-basis;*/
	flex: 8 8 20%; 
}
.flex10{ 
	flex: 16 16 10%; 
}
.flex80{ 
	flex: 1 1 80%; 
}
.flex90{ 
	flex: 1 1 90%; 
}
ul.color1 li,ul.color1{background: #e0e0e0; color:#777;border-color:#aaa;}
ul.color2 li,ul.color2{background: #3d3d80;border-color:#1d1d60;}
ul.color3 li,ul.color3{background: #ef8; color:#333;border-color:#cd6;}
.grid-wrapper,.grid-container
{
	display: grid;
	grid-template-columns: repeat(3, 1fr);
	grid-gap: 0.1em;
	grid-auto-rows: minmax(10px, auto);
}
.grid-wrapper div, .grid-container div{background: #1d1d60; color: #fff;font-weight: bold;min-height: 3em;line-height: 3em; text-align:center; }
.grid-wrapper div:nth-child(odd), .grid-container div:nth-child(odd){background: #3d3d80;}
.nested {
	display: grid;
	grid-template-columns: 1fr 1fr;
	grid-auto-rows: 30%;
}
.nested div {
	border-color:#cd6;
	background: #ef8;
	color:#333;
}
.nested div:nth-child(odd){background: #777;color:#333;}
.nested div:nth-child(3n){background: #fff;color:#467;border:2px solid #689;}
.nested div:nth-child(4n){background: #1d1d60;color:#fff;}
.nested div:nth-child(5){background: #ef8;color:#000;}
.grid-container {
  display: grid;
  grid-template-columns: 1fr 1fr 01fr;
  grid-template-rows: 1fr 1fr 1fr;
  grid-auto-rows: minmax(100px, auto);
  gap: 1px 1px;
  grid-template-areas: "c b b" "c a f" "e a d";
}

.grid-container .a { grid-area: a; background: #949 !important;}

.grid-container .b { grid-area: b; background: #ff0 !important; color:#000;border: 1px solid #999;}

.grid-container .e { grid-area: e; background: #79d !important;}

.grid-container .f { grid-area: f; background: #395 !important;}

.grid-container .c { grid-area: c; background: #32e !important;}

.grid-container .d { grid-area: d; background: #576 !important;}

.grid { 
	display: grid;
	grid-template-columns: 1fr 2fr 1fr;
	grid-auto-rows: minmax(100px, auto);
	grid-gap: 1px 1px;
	justify-content: stretch;
	align-items: stretch;
}
.grid div {background: #eee; padding: 1em;}
.grid div:nth-child(2n) {background: #ddd;}
.grid div:nth-child(3n) {background: #9e9;}
.grid div:nth-child(3n) {background: #99e;}
.box1{
	/*align-self: start;*/
	grid-column: 1/3;
	grid-row: 1/3;
}
.box2{
/*	align-self: end;*/
grid-column: 3;
grid-row: 1/3;
}
.box3{
/*	justify-self: end;*/
grid-column: 2/4;
grid-row: 3;
}
.box4{
grid-column: 1;
grid-row: 3/4;/* from 3rd row to 4th row */
}